<ol class="breadcrumb">
  <div *ngFor="let item of heading; let i = index">
    <li class="breadcrumb-item active" *ngIf="i < heading.length - 1">
      <i class="fa {{icon[i]}} mr-1"></i>
      <a class="mr-1" href="" [routerLink]="[link[i]]">{{ item }} /</a>
    </li>
    <li class="active f-hgreen" *ngIf="i == heading.length - 1">
      <i class="fa {{icon[i]}} mr-1"></i>
      {{ item }}
    </li>
  </div>
</ol>
