a {
	// color: #2cb394;
	color: #4a828f;
}
.breadcrumb {
	background-color: #dbe7e4;
    border-radius: 0px;
    position: relative;
    top: -15px;
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-bottom: 0px;
}
