<nav class="navbar navbar-expand-lg fixed-top {{sidebarService.showMenu}}">
  <div class="button-div" (click)="changeSideMenuState()">
    <i class="fas fa-bars menu-button"></i>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown f-roboto-l f-18" [ngClass]="activeClass" ngbDropdown>
        <a href="javascript:void(0)" (click)="toggleActive()" class="button-user" ngbDropdownToggle>
          <i class="fa fa-user"></i>
        </a>
        <div class="dropdown-menu-right" [ngClass]="activeClass" ngbDropdownMenu #submenu>
          <a class="dropdown-item" data-toggle="modal" data-target="#alterarSenha">
            <i class="fa fa-fw fa-user mr-10"></i> <span class="f-16">{{ 'Alterar Senha' | translate }}</span>
          </a>
          <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
            <i class="fa fa-fw fa-power-off mr-10"></i> <span class="f-16">{{ 'Sair' | translate }}</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade f-roboto-l f-18" id="alterarSenha" tabindex="-1" role="dialog" aria-labelledby="alterarSenhaTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Alterar Senha</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form" [formGroup]="form">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" >Senha Atual*:</span>
            </div>
            <input type="password" class="form-control" formControlName="senhaAtual" [ngClass]="displayFieldCss('senhaAtual')" placeholder="Senha atual">
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" >Nova Senha*:</span>
            </div>
            <input name="novaSenha" type="password" class="form-control" [ngClass]="displayFieldCss('novaSenha')" formControlName="novaSenha" placeholder="Nova senha">
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" >Confirmar Senha*:</span>
            </div>
            <input type="password" name="confirmarSenha" class="form-control" [ngClass]="displayFieldCss('confirmarSenha')" formControlName="confirmarSenha" placeholder="Repita a nova senha">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="updatePassword()">Alterar senha</button>
      </div>
    </div>
  </div>
</div>

<app-alert #alert></app-alert>
