$topnav-background-color: #222;
:host {
  display: block;
}
.email {
  margin: auto;
  padding: 0;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
.login-button-inside {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  line-height: 35px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: #7d9baa;
  cursor: pointer;
}
.login-page {
	position: absolute;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	background: url("../../assets/images/bg/bg-login.png") no-repeat center center;
	background-size: 100%;
	text-align: center;
	color: #fff;
	padding: 3em;
	.col-lg-4 {
		padding: 0;
	}
	.input-lg {
		height: 46px;
		padding: 10px 16px;
		font-size: 18px;
		line-height: 1.3333333;
		border-radius: 0;
	}
	.input-underline {
		background: 0 0;
		border: none;
		box-shadow: none;
		border-bottom: 2px solid rgba(255, 255, 255, 0.5);
		color: #fff;
		border-radius: 0;
	}
	.input-underline:focus {
		border-bottom: 2px solid #fff;
		box-shadow: none;
	}
	.rounded-btn {
		-webkit-border-radius: 5px;
		border-radius: 5px;
		color: rgba(255, 255, 255, 0.8);
		background: transparent;
		border: 2px solid rgba(255, 255, 255, 0.8);
		font-size: 18px;
		line-height: 40px;
		padding: 0 25px;
	}
	.rounded-btn:hover,
	.rounded-btn:focus,
	.rounded-btn:active,
	.rounded-btn:visited {
		color: rgba(255, 255, 255, 1);
		border: 2px solid rgba(255, 255, 255, 1);
		outline: none;
	}

	h1 {
		font-weight: 300;
		margin-top: 20px;
		margin-bottom: 10px;
		font-size: 36px;
		small {
			color: rgba(255, 255, 255, 0.7);
		}
	}

	.form-group {
		margin-bottom: 30px;
		padding: 0px 0;
		input::-webkit-input-placeholder {
			color: rgba(255, 255, 255, 0.6) !important;
		}

		input:-moz-placeholder {
			/* Firefox 18- */
			color: rgba(255, 255, 255, 0.6) !important;
		}

		input::-moz-placeholder {
			/* Firefox 19+ */
			color: rgba(255, 255, 255, 0.6) !important;
		}

		input:-ms-input-placeholder {
			color: rgba(255, 255, 255, 0.6) !important;
		}
	}
	.form-content {
		padding: 40px 0 0;
	}
	.user-avatar {
		-webkit-border-radius: 50%;
		border-radius: 50%;
		border: 2px solid #fff;
	}
}

.form-input{
	background: 0 0;
	border: none;
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	padding: 10px;
	display: block;
	width: 100%;
	color: #fff;
}

.form-input:focus{
	outline: none;
}

.has-error{
	border-bottom: 2px solid #dc3545 !important;
	color: #dc3545 !important;
}

.has-valid{
	border-bottom: 2px solid green !important;
}
.input-group-prepend {
	width: 100px !important;

}

.logomarca {
	max-width: 100%;
}
