<div class="login-page">
	<div class="row justify-content-md-center">
		<div class="col-md-4">
			<img class="logomarca" src="assets/images/logo/logo-white.png" />
			<form role="form" [formGroup]="form" novalidate (keydown)="keyPress($event.keyCode)">
				<div class="form-content">
					<div class="form-group email">
						<input formControlName="email" [ngClass]="displayFieldCss('email', form)" name="email" type="text" class="form-input" id="email" placeholder="Email">
					</div>
					<div class="form-group email">
						<input formControlName="password" [ngClass]="displayFieldCss('password', form)" name="pass" type="password" class="form-input" id="password" placeholder="Password">
					</div>
        <div class="login-button-inside" (click)="login()"> Entrar </div>
        <div class="h-20"></div>
				</div>
				<br />
				<p> Versão: {{ appVersion }} </p>

			</form>
		</div>
	</div>
</div>

<app-alert #alert></app-alert>
