<div class="datatable-scroll">
  <table class="table table-striped">
    <thead>
      <tr>
        <th *ngFor="let column of columns" [ngClass]="column.class" [ngStyle]="{'width': column.width}">
          <div class="click-pointer" (click)="sortColumn(column)" [hidden]="!column.isSortable">
            {{ column.header }}
            <i class="fas fa-sort-down gray" [hidden]="columnSort === column.sortBy"></i>
            <i class="fas fa-sort-up" [hidden]="column.sort === undefined || column.sort !== 'DESC' || columnSort !== column.sortBy"></i>
            <i class="fas fa-sort-down" [hidden]="column.sort === undefined || column.sort !=='ASC' || columnSort !== column.sortBy"></i>
          </div>
          <div [hidden]="column.isSortable">
            {{ column.header }}
          </div>
        </th>
    </thead>
    <tbody>
      <tr *ngFor="let row of dataSetContext" [hidden]="_dataset.length <= 0">
        <td *ngFor="let column of columns" [ngStyle]="{'width': column.width}">
          <div *ngIf="!column.cellTemplate">{{ getObjectValue(row, column.value) }}</div>
          <div *ngIf="column.cellTemplate" [ngTemplateOutlet]="column.cellTemplate" [ngTemplateOutletContext]="row"></div>
        </td>
      </tr>
      <tr [hidden]="_dataset.length > 0">
        <td [colSpan]="columns.length">
          <span class="no-result"> Nenhum resultado... </span>
        <td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="hasPagination" class="card-footer text-muted footer-datatable">
  <span class="f-14">Total de Resultados: <span class="f-bold">{{ paging?.count }}</span> - pagina: <span class="f-bold">{{ paging?.page }} / {{ paging?.pages }}</span></span>
  <app-pagination #pagination class="pull-right"></app-pagination>
</div>
