<swal [reverseButtons]="true"
  #deleteSwal
  title="Deletar:"
  text="Tem certeza que deseja deletar o registro?"
  type="question"
  [showCancelButton]="true"
  [focusCancel]="false"
  (confirm)="confirmCallback()">
</swal>

<swal [reverseButtons]="true"
  #deleteSuccessSwal
  title="Sucesso:"
  text="Sucesso ao deletar o registro!"
  type="success"
  (confirm)="cancelCallback()"
  (cancel)="cancelCallback()">
</swal>

<swal [reverseButtons]="true"
  #deleteErrorSwal
  title="Erro:"
  text="Erro ao deletar o registro!"
  type="error">
</swal>

<!-- ADD -->

<swal [reverseButtons]="true"
  #addSuccessSwal
  title="Sucesso:"
  text="Sucesso ao adicionar o registro!"
  type="success"
  (confirm)="cancelCallback()"
  (cancel)="cancelCallback()">
</swal>

<swal [reverseButtons]="true"
  #addErrorSwal
  title="Erro:"
  text="Erro ao adicionar o registro!"
  type="error">
</swal>

<!-- EDIT -->

<swal [reverseButtons]="true"
  #editSwal
  title="Editar:"
  text="Tem certeza que deseja editar o registro?"
  type="question"
  [showCancelButton]="true"
  [focusCancel]="false"
  (confirm)="confirmCallback()">
</swal>

<swal [reverseButtons]="true"
  #editSuccessSwal
  title="Sucesso:"
  text="Sucesso ao editar o registro!"
  type="success"
  (confirm)="cancelCallback()"
  (cancel)="cancelCallback()">
</swal>

<swal
  #editErrorSwal
  title="Erro:"
  text="Erro ao editar o registro!"
  type="error">
</swal>
