.f-10 { font-size: 10px; }
.f-12 { font-size: 12px; }
.f-13 { font-size: 13px; }
.f-14 { font-size: 14px; }
.f-16 { font-size: 16px; }
.f-18 { font-size: 18px; }
.f-20 { font-size: 20px; }
.f-22 { font-size: 22px; }
.f-24 { font-size: 24px; }
.f-26 { font-size: 26px; }
.f-30 { font-size: 30px; }
.f-32 { font-size: 32px; }
.f-34 { font-size: 34px; }
.f-40 { font-size: 40px; }
.f-60 { font-size: 60px; }

.f-filter {
  font-size: 14px !important;
  height: 36px !important;
}

.f-bold { font-weight: bold; }
.f-normal { font-weight: normal; }

.f-upper { text-transform: uppercase; }
.f-lower { text-transform: lowercase; }

.f-croboto { font-family: 'Roboto Condensed', sans-serif; }
.f-cfira { font-family: 'Fira Sans Extra Condensed', sans-serif; }

.f-white { color: white; }

.lh-1 { line-height: 1; }
.lh-0 { line-height: 0; }
.lh-20 { line-height: 20px; }

.mb-br { margin-bottom: 1px; }

.f-grey { color: #545454; }
.f-hgreen { color: #294942; }
.f-lgreen { color: #325e67; }
.f-green { color: #2cb394; }
.f-hgray { color: #666; }
.f-mgreen { color: #00ff42; }
.f-orange { color: #ff871c; }
.f-white { color: white; }
.f-blue { color: #4a828f;}
.f-navyblue { color: #122c42;}
.f-red { color: #ba1515;}
.t-2 { position: relative; top: 2px; }
.t-2 { position: relative; top: 2px; }
.p-5-10 { padding: 5px 10px; }
.p-10 { padding: 10px; }
.pl-0 { padding-left: 0; }
.d-inherit { display: inherit; }
.dashed { border: dashed 1px #325e67 !important; }
hr { margin: 0px; }