.form-control {
	border-radius: 0px;
  min-height: 36px;
}
.resize-none { resize: none; }

/* Header */
.header-title {
  padding: 5px 20px;
}
.content-filtro {
  padding: 10px 20px;
}
.content-in {
  padding: 10px 20px 30px;
}
.content-list {
  padding: 10px 20px;
}
.filtro-busca {
  padding: 5px 0px 5px 0px;
}

label {
  margin-bottom: 0px;
  font-size: 15px;
  color: #325e67;
}
textarea:disabled { background-color: rgb(255, 255, 255) !important}
.input-label-obs {
  display: block;
  border: 1px solid #ced4da;
  font-size: 18px;
  padding: 3px 10px;
  color: #122c42;
  width: 100%;
  resize: none;
}
.input-label {
  display: block;
  border: 1px solid #ced4da;
  font-size: 16px;
  padding: 3px 10px;
  color: #122c42;
  min-height: 32px;
}
.filter-button {
  background-color: #122c42;
  color: #fff;
  padding: 1px 15px;
  border-radius: 5px;
  margin: 0px 0px 0px 15px;
  font-size: 13px;
  cursor: pointer;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.marked {
		background-color: #dbe7e4;
}

.icon-collapse-list {
  font-size: 22px;
  position: relative;
  top: 2px;
  margin-left: 5px;
  cursor: pointer;
}
.add-button-header {
 background-color: #122c42;
 color: #fff;
 padding: 1px 15px;
 border-radius: 5px;
 margin: 0px 0px 0px 15px;
 font-size: 13px;
 cursor: pointer;
 position: relative;
 float: right;
 top: 3px;
 font-family: 'Fira Sans Extra Condensed', sans-serif;
}
.save-button {
 background-color: #122c42;
 color: #fff;
 padding: 1px 15px;
 border-radius: 5px;
 margin: 0px 0px 0px 15px;
 font-size: 14px;
 cursor: pointer;
 position: relative;
 float: right;
 top: 5px;
 font-family: 'Fira Sans Extra Condensed', sans-serif;
}
.calendar-input {
  cursor: pointer;
  position: relative;
  top: 2px;
}
