.w-10 { width: 10%; }
.w-10p { width: 10%; }
.w-15 { width: 15%; }
.w-20 { width: 20%; }
.w-30 { width: 30%; }
.w-35 { width: 35%; }
.w-40 { width: 40%; }
.w-50 { width: 50%; }
.w-60 { width: 60%; }
.w-70 { width: 70%; }
.w-75 { width: 75%; }
.w-80 { width: 80%; }
.w-90 { width: 90%; }
.w-100 { width: 100%; }
.w-100p { width: 100%; }

.h-10 { height: 10px; }
.h-15 { height: 15px; }
.h-20 { height: 20px; }
.h-30 { height: 30px; }
.h-35 { height: 35px; }
.h-40 { height: 40px; }
.h-50 { height: 50px; }
.h-60 { height: 60px; }
.h-70 { height: 70px; }
.h-75 { height: 75px; }
.h-80 { height: 80px; }
.h-90 { height: 90px; }
.h-100 { height: 100px; }
.h-100p { height: 100%; }
.h-150 { height: 150px; }
.h-200 { height: 200px; }
.h-300 { height: 300px; }

.inline-block {
	display: inline-block;
}

.padding-none { padding: 0px; }
.padding-10 { padding: 10px }
.p-10-15 { padding: 10px 15px; }
.p-10-20 { padding: 10px 20px; }
.padding-5 { padding: 5px; }
.p-15 { padding: 15px; }
.p-20 { padding: 20px; }
.pt-10 { padding-top: 10px; }
.pt-20 { padding-top: 20px; }


.pb-10 { padding-bottom: 10px; }
.pb-20 { padding-bottom: 20px; }

.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 20px; }
.mt-50 { margin-top: 50px; }

.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }


.ml-10 { margin-left: 10px; }
.ml-20 { margin-left: 20px; }

.mr-5 { margin-right: 5px; }
.mr-10 { margin-right: 10px; }
.mr-30 { margin-right: 30px; }
.mr-50 { margin-right: 50px; }

m0 { margin: 0px; }

.border-red {
	border: solid 1px red;
}
.mlm-15 { margin-left: -15px;}

.flex-midle {
	display: flex;
	align-items: center;
}