.card-header-submenu {
    // padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #222;
    border-bottom: none;
}
.base-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #222;
  background-clip: border-box;
  border: none;
  border-radius: 0.25rem;
}
.menu-accordion {

}
.ml-5,
.mx-5 {
  margin-left: 2rem !important;
}
.menu-accordion:hover {
	// background-color: #151515;
}
.no-color {
	text-decoration: none;
	color: #999;
}
.no-color:hover {
	text-decoration: none;
	color: #fff;
	background: #151515;
}