@font-face {
  font-family: 'wizebox';
  src: url('../assets/fonts/wizebox.eot?fwuq3f');
  src: url('../assets/fonts/wizebox.eot?fwuq3f#iefix') format('embedded-opentype'),
    url('../assets/fonts/wizebox.ttf?fwuq3f') format('truetype'),
    url('../assets/fonts/wizebox.woff?fwuq3f') format('woff'),
    url('../assets/fonts/wizebox.svg?fwuq3f#wizebox') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="wize-"], [class*=" wize-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wizebox' !important;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: normal;
  font-size: 18px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wize-equip-naoauditado-ponto:before {
  content: "\e900";
}
.wize-equip-ocorrencia-ponto:before {
  content: "\e901";
}
.wize-equip-auditado-ponto:before {
  content: "\e902";
}
.wize-auditor-ponto:before {
  content: "\e903";
}
.wize-motoristas-ponto:before {
  content: "\e904";
}
.wize-ponto:before {
  content: "\e905";
}
.wize-play:before {
  content: "\e906";
}
.wize-stop:before {
  content: "\e907";
}
.wize-dot:before {
  content: "\e934";
}
.wize-calendar:before {
  content: "\e930";
}
.wize-remove-button:before {
  content: "\e908";
}
.wize-add-button:before {
  content: "\e909";
}
.wize-delete-button:before {
  content: "\e90a";
}
.wize-edit-button:before {
  content: "\e90b";
}
.wize-info-button:before {
  content: "\e90c";
}
.wize-trash-button:before {
  content: "\e90d";
}
.wize-printer-button:before {
  content: "\e90e";
}
.wize-calendar-button:before {
  content: "\e90f";
}
.wize-play2:before {
  content: "\e910";
}
.wize-pause:before {
  content: "\e911";
}
.wize-stop2:before {
  content: "\e912";
}
.wize-check:before {
  content: "\e913";
}
.wize-next:before {
  content: "\e914";
}
.wize-ocorrencia:before {
  content: "\e915";
}
.wize-fechar:before {
  content: "\e931";
}
.wize-home:before {
  content: "\e916";
}
.wize-prioridade:before {
  content: "\e932";
}
.wize-atualizar:before {
  content: "\e933";
}
.wize-pessoa:before {
  content: "\e917";
}
.wize-grupos:before {
  content: "\e918";
}
.wize-auditores:before {
  content: "\e919";
}
.wize-motoristas:before {
  content: "\e91a";
}
.wize-auditorias:before {
  content: "\e91b";
}
.wize-camera:before {
  content: "\e91c";
}
.wize-destinadores:before {
  content: "\e91d";
}
.wize-equipamentos-auditados:before {
  content: "\e91e";
}
.wize-equipamentos:before {
  content: "\e91f";
}
.wize-geradores:before {
  content: "\e920";
}
.wize-implemento:before {
  content: "\e921";
}
.wize-licenca:before {
  content: "\e922";
}
.wize-list:before {
  content: "\e923";
}
.wize-logout:before {
  content: "\e924";
}
.wize-mapa:before {
  content: "\e925";
}
.wize-mtr:before {
  content: "\e926";
}
.wize-olho:before {
  content: "\e927";
}
.wize-ordem-coleta:before {
  content: "\e928";
}
.wize-os:before {
  content: "\e929";
}
.wize-pipeline:before {
  content: "\e92a";
}
.wize-planos-auditoria:before {
  content: "\e92b";
}
.wize-registro:before {
  content: "\e92c";
}
.wize-residuos:before {
  content: "\e92d";
}
.wize-rotas-coleta:before {
  content: "\e92e";
}
.wize-senha:before {
  content: "\e92f";
}
.wize-solicitacao-coleta:before {
  content: "\e935";
}
.wize-transportadores:before {
  content: "\e936";
}
.wize-veiculos:before {
  content: "\e937";
}
.wize-cacamba-ponto:before {
  content: "\e938";
}
.wize-auditor-ponto2:before {
  content: "\e939";
}
.wize-motoristas-ponto2:before {
  content: "\e93a";
}
.wize-ocorrencia-ponto:before {
  content: "\e93b";
}
.wize-ponto2:before {
  content: "\e93c";
}
