.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, 0.01) !important;
}
.table {
	margin-bottom: 0px !important;
}

.table th, .table td {
	padding: 9px;
	vertical-align: middle !important;
	font-size: 14px;
}

tr th {
	font-size: 14px;
	color: #215582;
	border-top: none;
	font-family: 'Roboto Condensed', sans-serif !important;
}
tr td {
	font-family: 'Roboto', sans-serif;
}

.table th {
	border-top: none;
	border-bottom: none;
}
.table th, .table td {
	/* border-top: solid 1px #e9ecef; */
}

.table td:last-child {
	text-align: right;
	width: 17%;
}