body {
  background: #f5f5f5;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
}
.filtro-busca {
  padding: 20px 20px 0px 20px;
}
.content-map {
  padding: 10px;
  position: relative;
}
.bg-navyblue {
  background-color: #bbc1ce;
}
.collapse-ajust {
  padding-right: -10px !important;
  padding-left: -10px !important;
}
.msg-scoll-map {
  height: 100%;
  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  position: absolute;
  text-align: center;
  padding-top: 18vh;
  background-color: rgba(211, 211, 211, 0.3);
  font-size: 30px;
}

.text-map-habilidato {

}

.input-group-prepend, .input-group-text {
  width: 200px !important;
  text-align: right;
}
ol, ul, dl {
  margin-bottom: 0px;
}

ng-select > div > div.single {
  height: 36px !important;
}
ng-select > div {
  border-radius: 0px !important;
  border: 1px solid #ced4da !important;
}
ng-select > div > div.single > div.value, ng-select > div > div.single > div.placeholder {
  line-height: 40px !important;
}
ng-select > div > div.single > div.clear, ng-select > div > div.single > div.toggle {
  line-height: 40px !important;
}
.ng-select .ng-arrow-zone {
  padding-right: 5px;
  width: 15px;
}
.ng-select .ng-clear-zone {
  width: 15px !important;
}
.teste {
  position: relative;
  margin-left: 30px;
}

.loader {
  left: calc(50% - 34px);
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.font-xlarge { font-size: 24px; }

.has-error{
  border: 1px solid #dc3545 !important;
}

.has-valid{
  border: 1px solid green !important;
}

.select2 {
  padding: 0;
  border: 0;
}
.select2.ng-select > .ng-control {
  border-bottom-left-radius: 0!important;
  border-top-left-radius: 0!important;
  height: 100%;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.marked{
  background-color: "#4d828e4d"
}

.card-header {
  background-color: #4a828f;
  // background: rgba(44,179,148,1);
  padding: 10px 10px;
  color: #fff;
  border-radius: calc(0.70rem - 1px) calc(0.70rem - 1px) 0 0;
}
.card-header:first-child {
  border-radius: calc(0.70rem - 1px) calc(0.70rem - 1px) 0 0;
}
.card {
  border-radius: 0.70rem;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.border-radius-0 {
  border-radius: 0 !important;
}

.card .card {
  border: 0;
}
.card .card > .card-header {
  border-radius: 0;
}

.background-green { background: #dbe7e4 }

// icon inside input error
.inside-error-icon {
  position: absolute;
  top: 33px;
  right: 24px;
  color: #dc3545;
  font-size: 20px;
  z-index: 1;
}

// tooltip error color
/deep/ .tooltip-inner {
  background-color: #dc3545 !important;
}

// botoes
.btn-gray-light {
  background-color: #9abfd2;
  border: 0;
  font-weight: 500;
  color: white
}

.btn-gray-light:hover {
  background-color: #8cadbd;
}

.btn-gray-dark {
  background-color: #224b50;
  border: 0;
  font-weight: 500;
  color: white
}

.btn-gray-dark:hover {
  background-color: #112a2d;
}

.btn-filter {
  background-color: #4a828f;
  border: 0;
  font-weight: 500;
  color: white
}

.btn-filter:hover {
  background-color: #365f69;
}
.bg-white {
  background: #fff;
}
.bg-grey {
  background: #e3e5e9;
}
.box-perspective {
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
}
.form-group {
  margin-bottom: 10px !important;
}

.btn-calendar {
  position: absolute !important;
  top: 24px;
  right: 0px;
}

// Status
.dot-size { font-size: 12px; }
.dot-criado { color: #ffcd05; }
.dot-planejado { color: #ef3658; }
.dot-iniciado { color: #63c5f1; }
.dot-finalizado { color: #5a5eaa; }
.dot-cancelado { color: #f8951d; }
.dot-aprovado { color: #67be61; }
.dot-reprovado { color: #d33530; }
.dot-ativo { color: #5ac2b0; }
.dot-inativo { color: #656673; }
.dot-auditado { color: #2c77b0; }
.dot-vinculado { color: #c3dd8d; }
.dot-desvinculado { color: #3c4f47; }
.dot-concluido { color: #29a887; }
.dot-registrado { color: #85559f; }
.dot-rejeitado { color: #a33c24; }
.dot-pendente { color: #a37a31; }
.dot-realizado {color: #62a6dd; }
.dot-disponivel {color: #447a46; }
.dot-em-rota {color: #b75ab1; }
// Status

// Volume
.dot-0{ color: #34a000; opacity: 0.6; }
.dot-25{ color: #34a000; opacity: 0.6; }
.dot-50{ color: #a06f00; opacity: 0.6; }
.dot-75{ color: #a06f00; opacity: 0.6; }
.dot-100{ color: #a00000; opacity: 0.6; }
// Volume
// Geral
.dot-green{ color: #34a000; opacity: 0.6; }
.dot-red{ color: #a00000; opacity: 0.6; }
// Geral

// badges
.pRelative {
  position: relative;
}

.badge-top-right {
  position: absolute;
  top: 0;
  right: 0;
}
// end badges