.card-footer {
	text-align: center;
}
.card-header {
	background: rgba(0,0,0,0);
  padding: 10px 10px;
}
.card-header:first-child {
    //border-radius: calc(0.10rem - 1px) calc(0.70rem - 1px) 0 0
}
.count {
	font-size: 72px;
	font-weight: bold;
}
.label {
	font-size: 20px;
	font-weight: bold;
}
.color-ativa {
	color: #599acf;
}
.color-inativa {
	color: #7c7c7c;
}
.color-baixa {
	color: #54ad51;
}
.color-media {
	color: #fcac22;
}
.color-cheia {
	color: #c40c16;
}

.background-ativa {
	background: #599acf;
}
.background-inativa {
	background: #7c7c7c;
}
.background-baixa {
	background: #54ad51;
}
.background-media {
	background: #fcac22;
}
.background-cheia {
	background: #c40c16;
}
.card {
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.circle-indication {
	width: 17px;
	height: 17px;
	border-radius: 50%;
	position: relative;
	top: 2px;
	// background: red;
}
