<div class="card card-default" [ngClass]="{'border-radius-0' : !borderRadius}">
  <div class="card-header">
    <span class="color-{{color}} f-22 f-roboto-l lh-0 ml-10">{{ label }}</span>
    <div class="circle-indication background-{{color}} pull-right"></div>
  </div>
  <div class="card-block">
    <div class="mt-10 mb-10 text-center">
      <span class="f-40 f-hgray f-roboto-l">{{ count }}</span>
    </div>
  </div>
</div>
