<app-page-header [heading]="['Contatos', 'Detalhes']" [link]="['/contatos']" [icon]="['wize-planos-auditoria', 'fas fa-info-circle']"></app-page-header>
<div class="row">
	<div class="col-md-12">
		<div class="page-header bg-white mb-2 box-perspective">
			<div class="header-title">
				<span class="f-lgreen f-22 f-bold"><span class="wize-add-button mr-10"></span>Contato: {{ model.nome }}</span>
				<div class="pull-right">
					<span (click)="edit()" title="Editar esse registro" class="add-button-header"><i class="fa fa-edit"></i> EDITAR </span>
					<span ngbTooltip="Voltar para a lista" (click)="cancel()" class="add-button-header"> LISTA </span>
				</div>
			</div>
			<hr>
			<div class="content-in">
				<form role="form">
					<div>
						<div class="form-group">
							<label>Nome: </label>
							<label class="input-label">{{ model.nome }}</label>
						</div>
						<div class="form-group">
							<label>Empresa: </label>
							<label class="input-label">{{ model.empresa }}</label>
						</div>
						<div class="form-group">
							<label>Telefone: </label>
							<label class="input-label">{{ model.telefone }}</label>
						</div>
						<div class="form-group">
							<label>Email: </label>
							<label class="input-label">{{ model.email }}</label>
						</div>
						<div class="form-group">
							<label>Mídia social: </label>
							<label class="input-label">{{ model.socialMedia }}</label>
						</div>
						<div class="col-lg-12 padding-none">
							<app-upload [atributo]="'foto'" [modelo]="model" [readonly]="true"></app-upload>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
