.main-container {
    margin-top: 50px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}
.must-show {
  margin-left: 235px;
}
// @media screen and (max-width: 992px) {
//     .main-container {
//         margin-left: 0px !important;
//     }
// }
