<app-page-header [heading]="['Contatos', 'Adicionar']" [link]="['/contatos']" [icon]="['wize-planos-auditoria', 'fas fa-plus']"></app-page-header>
<div class="row">
  <div class="col-md-12">
    <div class="page-header bg-white mb-2 box-perspective">
      <div class="header-title">
        <span class="f-lgreen f-22 f-bold"><span class="wize-edit-button mr-10"></span>Adicionar contato</span>
        <span title="Salvar esse registro" (click)="save()" class="save-button ml-10">SALVAR</span>
        <span title="Voltar para a lista" (click)="cancel()" class="save-button">LISTA</span>
      </div>
      <hr>
      <div class="content-in">
        <form role="form" [formGroup]="form">
          <div class="col-md-12 mb-2 padding-none">
            <label>Nome*:</label>
            <input type="text" class="form-control" formControlName="nome" [ngClass]="formValidator.displayFieldCss('nome', form)" placeholder="Nome">
          </div>
          <div class="col-md-12 mb-2 padding-none">
            <label>Empresa:</label>
            <input type="text" class="form-control" formControlName="empresa" [ngClass]="formValidator.displayFieldCss('empresa', form)" placeholder="Empresa">
          </div>
          <div class="col-md-12 mb-2 padding-none">
            <label>Telefone*:</label>
            <input type="text" class="form-control" formControlName="telefone" [ngClass]="formValidator.displayFieldCss('telefone', form)" placeholder="Telefone">
          </div>
          <div class="col-md-12 mb-2 padding-none">
            <label>Email:</label>
            <input type="text" class="form-control" formControlName="email" [ngClass]="formValidator.displayFieldCss('email', form)" placeholder="Email">
          </div>
          <div class="col-md-12 mb-3 padding-none">
            <label>Mídia social:</label>
            <input type="text" class="form-control" formControlName="socialMedia" [ngClass]="formValidator.displayFieldCss('socialMedia', form)" placeholder="Mídia social">
          </div>
          <div class="col-lg-12 pRelative padding-none">
            <span class="badge badge-danger badge-top-right indexUp" *ngIf="form.get('foto').invalid && shouldShowBadge">
              Insira a foto
            </span>
            <app-upload #foto [atributo]="'foto'" (successUpload)="formValidator.formPatchValue('foto', form, $event)" [label]="'Foto'" [modelo]="model"></app-upload>
          </div>
        </form>
      </div>
      <app-alert #alert [cancelCallback]="list.bind(this)"></app-alert>
    </div>
