// .select2{
//   padding: 0;
//   border: 0;
// }

/deep/ ng-select > div{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

/deep/ .main-container[_ngcontent-c1] {
  overflow: visible !important;
}

.has-error{
	border: 1px solid #dc3545;
}

.has-valid{
	border: 1px solid green;
}
