<nav class="sidebar {{sidebarService.showMenu}}">
  <a class="navbar-brand" href="#">
    <img class="header-logo" src="assets/images/logo/logo-white.png" alt="">
  </a>
  <div class="list-group">
    <div class="nav-divider"></div>
    <!-- Planos -->
    <a routerLink="/contatos/list" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <span class=" f-roboto">
        <span class="wize-planos-auditoria"></span>&nbsp; {{ 'Contatos' | translate }}
      </span>
    </a>
  </div>
</nav>
