// $topnav-background-color: #19282b;
$topnav-background-color: #19292b;
.menu-icon {
  width: 25px;
  text-align: center;
  margin-right: 0px !important;
}
.header-logo {
  margin-left: 20px;
  max-height: 35px;
}
.submenu-icon {
  width: 25px;
  text-align: center;
  margin-right: 0px !important;
  opacity: .5;
}
.caret-arrow {
  position: relative;
  top: 5px;
  transform: rotate(-90deg);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.caret-arrow-submenu{
  position: relative;
  top: 5px;
  transform: rotate(-90deg);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.menu-accordion .base-menu .collapsed .caret-arrow {
  transform: rotate(0deg);
}
.menu-accordion .base-menu .collapsed .caret-arrow-submenu {
  transform: rotate(0deg);
}

.header-group {
  color: #7ec5b3;
  font-weight: normal;
  font-size: 16px;
  padding: 0.75rem 1.25rem;
  font-family: 'Roboto Condensed', sans-serif;
}
.navbar-brand {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 0.3125rem;
  margin-right: 10px;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.sidebar {
  border-radius: 0;
  position: fixed;
  z-index: 1000;
  top: 0px;
  width: 235px;
  margin-left: -235px;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  background-color: $topnav-background-color;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  // border-top: 1px solid rgba(255,255,255,0.3);
  .list-group {
    a.list-group-item {
      background: $topnav-background-color;
      border: 0;
      border-radius: 0;
      color: #bcd1d5;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      font-family: 'Roboto Condensed', sans-serif;
      padding: 6px 20px !important;
      .fa {
        margin-right: 10px;
      }
    }
    a:hover {
      background: darken($topnav-background-color, 5%);
      color: #fff;
    }
    a.router-link-active {
      background: darken($topnav-background-color, 5%);
      color: #fff;
    }
    .header-fields {
      display: none;
      padding-top: 10px;

      > .list-group-item:first-child {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
  }
  .sidebar-dropdown {
    *:focus {
      border-radius: none;
      border: none;
    }
    .panel-title {
      font-size: 1rem;
      height: 50px;
      margin-bottom: 0;
      a {
        color: #999;
        text-decoration: none;
        font-weight: 400;
        background: $topnav-background-color;
        span {
          position: relative;
          display: block;
          padding: 0.75rem 1.5rem;
          padding-top: 1rem;
        }
      }
      a:hover,
      a:focus {
        color: #fff;
        outline: none;
        outline-offset: -2px;
      }
    }
    .panel-title:hover {
      background: darken($topnav-background-color, 5%);
    }
    .panel-collapse {
      border-radious: 0;
      border: none;
      .panel-body {
        .list-group-item {
          border-radius: 0;
          background-color: $topnav-background-color;
          border: 0 solid transparent;
          a {
            color: #999;
          }
          a:hover {
            color: #fff;
          }
        }
        .list-group-item:hover {
          background: darken($topnav-background-color, 5%);
        }
      }
    }
  }
}
.nested-menu {
  .list-group-item {
    cursor: pointer;
  }
  .nested {
    list-style-type: none;
  }
  ul.submenu {
    display: none;
    height: 0;
  }
  & .expand {
    ul.submenu {
      display: block;
      list-style-type: none;
      height: auto;
      li {
        a {
          color: #fff;
          padding: 10px;
          display: block;
        }
      }
    }
  }
}
// @media screen and (max-width: 992px) {
  //   .sidebar {
    //     top: 54px;
    //     left: 0px;
    //   }
    // }
    // @media (min-width: 992px) {
      //   .header-fields {
        //     display: none;
        //   }
        // }

        ::-webkit-scrollbar {
          width: 0px;
        }

        ::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 0px rgba(255, 255, 255, 1);
          border-radius: 3px;
        }

        ::-webkit-scrollbar-thumb {
          border-radius: 3px;
          -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 1);
        }
        .submenu {
          padding: 3px 20px 3px 20px;
        }
        .submenu-item {
          padding: 3px 20px 3px 37px;
          font-family: 'Roboto Condensed', sans-serif;
          font-size: 16px;
          font-weight: 300 !important;
        }

        .botao {
          background-color: white;
          position: absolute;
          z-index: 1001;
        }

        .h20 {
          height: 20px;
        }

        .must-show {
          margin-left: 0px;
        }

        /deep/.main-container {
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
        }