// sidebar refresh
.sidebar-refresh {
	background-color: #b7b7b7;
	height: 100%;
	margin-left: 0px;
	padding: 16px 0px 15px 10px;
	// z-index: 999;
	width: 235px;
	left: 0;
	top: 0px;
	position: fixed;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.retratil {
	position: absolute;
	width: 20px;
	height: 50px;
	background: #b7b7b7;
	top: calc(50% - 25px);
	right: -20px;
	text-align: center
}

.retratil-arrow {
	position: relative;
	line-height: 50px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

.must-show {
	margin-left: 235px;
	margin-top: 50px;
}

.retratil-close {
	left: -235px;
}

.rotate-arrow {
	transform: rotate(180deg);
}

.main-container-retratil {
	margin-left: 0px !important;
}

.sidebar-title {
	margin-top: 5px;
	color: #3d4f5e;
	font-weight: bold;
}

.sidebar-card {
	background-color: #fff;
	/* padding: 10px; */
	margin-bottom: 25px;
}

.line-header {
	margin-top: 0px;
	margin-bottom: 0px;
}
.badge-card {
	float: right;
	margin-top: 6px;
}
.badge {
	padding: 5px;
	border-radius: 4px;
	color: #fff;
	font-weight: bold;
	float: right;
	position: relative;
	top: 3px;

}
.warning {
	background-color: #d2bc00;
}
.success {
	background-color: #808f39;
}

.details-link {
	font-weight: bold;
	color: #476e76;
	cursor: pointer;
}

.cards {
	height: 100%;
	overflow: scroll;
	overflow-x: hidden;
}

.cards::-webkit-scrollbar {
	width: 0.5em;
	margin-left: 5px;
}

.cards::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.cards::-webkit-scrollbar-thumb {
	background-color: gray;
	outline: 1px solid slategrey;
}


// .main-container {
	// 	margin-left: 470px !important;
	// }