<div class="sidebar-refresh {{sidebarService.showMenu}} {{retratilStatus}}">
	<div class="retratil" (click)="changeRetratilStatus()" [ngClass]="{'rotate-arrow': isActive}">
		<span class="retratil-arrow"> > </span>
	</div>

	<h4 class="sidebar-title"> {{ title }} </h4>
	<div *ngIf="droppable" class="cards" dnd-droppable (onDropSuccess)="dropSuccessEmit($event)">	
		<div *ngIf="template" [ngTemplateOutlet]="template"></div>
	</div>

	<div *ngIf="!droppable">	
		<div *ngIf="template" [ngTemplateOutlet]="template"></div>
	</div>

	<!-- <div class="cards" dnd-droppable (onDropSuccess)="addEquipamento($event.dragData)">
		<div class="sidebar-card" *ngFor="let item of _dataset; let j = index" dnd-draggable [dragEnabled]="true" [dragData]="item" (onDragSuccess)="removeEquipamento(j)">
			
			<div class="sidebar-card-title">
				<span class="card-title f-14"> {{ item.equipamento?.codigo }}</span>
				<span *ngIf="item.status === 2" class="badge-card badge badge-success f-10">Auditado </span>
				<span *ngIf="item.status === 4" class="badge-card badge badge-warning f-10">Desvinculado </span>
			</div>

			<div class='sidebar-card-body'>
				<div class="sidebar-info">
					<span class="f-12"> Ponto </span> <br/>
				</div>
				<div class="sidebar-info" *ngIf="item.auditoria?.termino">
					<span class="f-12">Auditado em</span> <br/>
					<span class="f-12"> <span>{{ item.auditoria?.termino | date: 'dd/MM/yy' }} às {{ item.auditoria?.termino | date: 'HH:mm' }}</span> por Auditor </span>
				</div>
				<div class="sidebar-info">
					<span class="f-12 details-link" (click)="seeDetails(item)"> Ver detalhes <i class="fas fa-chevron-right"></i> </span>
				</div>
				<div *ngIf="card" [ngTemplateOutlet]="card"></div>
			</div>
		</div>
	</div> -->

</div>