.pagination {
  font-size: 14px;
}
.pagination-item {
  cursor: pointer;
  position: relative;
  display: block;
  padding: 3px 10px;
  margin-left: -1px;
  border-radius: 5px;
  line-height: inherit;
  color: #4f8dd0;
  background-color: #fff;
}
.pagination-item:hover {
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}
.pagination-item.active {
  z-index: 999;
  color: #fff;
  background-color: #4f8dd0;
  border-color: #4f8dd0;
}
.pagination-item-first {
  cursor: pointer;
  position: relative;
  display: block;
  padding: 3px 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-left: -1px;
  line-height: inherit;
  color: #4f8dd0;
  background-color: #fff;
}

.pagination-item-first:hover {
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}
.pagination-item-last {
  cursor: pointer;
  position: relative;
  display: block;
  padding: 3px 10px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-left: -1px;
  line-height: inherit;
  color: #4f8dd0;
  background-color: #fff;
}

.pagination-item-last:hover {
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.pagination-item-first.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}
.pagination-item-last.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}