<div class="inline-block">
  <ul class="pagination">
    <li *ngIf="currentIndex != 1 && numPages != 0" class="pagination-item-first">
      <a (click)="goToFirst()">Primeiro</a>
    </li>
    <li *ngIf="currentIndex == 1 || numPages == 0" class="pagination-item-first disabled">
      <a class="disabled">Primeiro</a>
    </li>
    <li *ngIf="currentIndex != 1 && numPages != 0" class="pagination-item-first">
      <a (click)="goToPrevious()">Anterior</a>
    </li>
    <li *ngIf="currentIndex == 1 || numPages == 0" class="pagination-item-first disabled">
      <a (click)="goToPrevious()" class="disabled">Anterior</a>
    </li>
    <li *ngIf="numPages == 0" class="pagination-item {{isSelected(1)}}" (click)="goToClicked(1)">
      <a>1</a>
    </li>
    <li *ngIf="numPages >= 1" class="pagination-item {{isSelected(1)}}" (click)="goToClicked(1)">
      <a>{{ getNumberLabel(1) }}</a>
    </li>
    <li *ngIf="numPages >= 2"  class="pagination-item {{isSelected(2)}}" (click)="goToClicked(2)">
      <a>{{ getNumberLabel(2) }}</a>
    </li>
    <li *ngIf="numPages >= 3"  class="pagination-item {{isSelected(3)}}" (click)="goToClicked(3)">
      <a>{{ getNumberLabel(3) }}</a>
    </li>
    <li *ngIf="numPages >= 4"  class="pagination-item {{isSelected(4)}}" (click)="goToClicked(4)">
      <a>{{ getNumberLabel(4) }}</a>
    </li>
    <li *ngIf="numPages >= 5"  class="pagination-item {{isSelected(5)}}" (click)="goToClicked(5)">
      <a>{{ getNumberLabel(5) }}</a>
    </li>
    <li *ngIf="(getNumberLabel(5) != numPages) && numPages > 5" class="pagination-item">
      <a (click)="jumpIndex()">...</a>
    </li>
    <li *ngIf="(getNumberLabel(5) != numPages) && numPages > 5" class="pagination-item {{isSelected(numPages)}}" (click)="goToLast()">
      <a>{{ numPages }}</a>
    </li>
    <li *ngIf="currentIndex != numPages" class="pagination-item-last">
      <a (click)="goToNext()">Próximo</a>
    </li>
    <li *ngIf="currentIndex == numPages" class="pagination-item-last disabled">
      <a (click)="goToNext()" class="disabled">Próximo</a>
    </li>
    <li *ngIf="currentIndex != numPages" class="pagination-item-last">
      <a (click)="goToLast()">Último</a>
    </li>
    <li *ngIf="currentIndex == numPages" class="pagination-item-last disabled">
      <a class="disabled" (click)="goToLast()">Último</a>
    </li>
  </ul>
</div>
