<div class="card">
    <div class="card-header">
        Rating (<strong>Basic demo</strong>)
    </div>
    <div class="card-body">
      <ngb-rating [(rate)]="currentRate"></ngb-rating>
      <hr>
      <pre>Rate: <b>{{ currentRate }}</b></pre>
    </div>
</div>
