<div [@routerTransition]>
  <app-page-header [heading]="['Contatos']" [link]="['/contatos']" [icon]="['wize-planos-auditoria']"></app-page-header>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header bg-white mb-3 box-perspective">
        <div class="header-title">
          <span class="f-lgreen f-18 f-bold">Lista de contatos ({{ models.length }})</span>
          <span ngbTooltip="Adicionar um novo registro" (click)="add()" class="add-button-header">ADICIONAR</span>
        </div>
        <hr>
        <div class="content-filtro">
          <div class="equipamento">
            <div id="filtroBusca">
              <div class="">
                <app-datatable #datatable [(dataset)]="models" [filter]="filter" (reload)="search($event)" [hasPagination]="false">
                  <app-datatable-column [header]="'Nome'">
                    <ng-template #dataTableCell let-item="item">
                      <span> {{ item.nome }}</span>
                    </ng-template>
                  </app-datatable-column>
                  <app-datatable-column [header]="'Empresa'">
                    <ng-template #dataTableCell let-item="item">
                      <span> {{ item.empresa }}</span>
                    </ng-template>
                  </app-datatable-column>
                  <app-datatable-column [header]="'Telefone'">
                    <ng-template #dataTableCell let-item="item">
                      <span> {{ item.telefone }}</span>
                    </ng-template>
                  </app-datatable-column>
                  <app-datatable-column [header]="'E-mail'">
                    <ng-template #dataTableCell let-item="item">
                      <span> {{ item.email }}</span>
                    </ng-template>
                  </app-datatable-column>
                  <app-datatable-column [header]="'AÇÕES'">
                    <ng-template #dataTableCell let-item="item">
                      <button class="btn btn-secondary btn-sm" (click)="read(item)">
                        <i class="fa fa-info-circle"></i>
                      </button>
                      <button class="btn btn-info btn-sm" (click)="edit(item)">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button class="btn btn-danger btn-sm" (click)="deleteAlert(item)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </ng-template>
                  </app-datatable-column>
                </app-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-alert #alert [confirmCallback]="delete.bind(this)" [cancelCallback]="search.bind(this)"></app-alert>
