.row {
  width: 100%;
}
.title-align {
  margin-left: 3%;
  font-size: 30px;
  font-weight: bold;
}
.img-align {
  height: 200px;
}

.border-bottom {
  border-bottom: solid 0.5px #D3D3D3;
}

.upload-card {
  border: solid 2px #585858;
  border-radius: 5px;
}

.upload-card-title {
  text-align: center;
}

.upload-body {
  padding: 3px;
  width: 100%;
  border-left: solid 2px #D8D8D8;
  border-bottom: solid 2px #D8D8D8;
  border-right: solid 2px #D8D8D8;
}

.input-file {
  display: none;
}

div.upload-img {
  height: 130px;
  background-color: white;
  color: #3f3f3f;
  text-align: center;
  border: dashed 1px;
  padding: 0;
}

.upload-img img {
  max-height: 128px;
  max-width: 100%;
}

.upload-info {
  text-align: center;
}

.no-img-text {
  margin-top: 55px;
}

/deep/ .file-drop {
  height: 128px;
  padding-top: 18px;
}
