<!--<div class="form-group">
  <div class="row text-center">
    <label [hidden]="!location" class="title-align"> {{ getAtributo(atributo) }}: </label>
  </div>
  <label for="upload-{{ atributo }}" [hidden]="location || readonly">Adicionar {{ atributo }}</label>
  <input id="upload-{{ atributo }}" type="file" (change)="upload($event)" accept="image/*" [hidden]="location || readonly">
  <img [hidden]="!location" src="{{ location }}" alt="{{ atributo }} de pessoa adicionada pelo usuário" class="img-align">
  <button [hidden]="!location || readonly" (click)="removeArquivo()">Remover</button>
</div>-->


<div class="card">
  <input id="upload-{{ atributo }}" type="file" (change)="upload($event)" accept="image/*" [hidden]="location || readonly" class="input-file">
  <div class="col-lg-12 card-header">
    <strong> {{ label.charAt(0).toUpperCase() + label.slice(1) }} </strong>
  </div>
  <div class="upload-body">
    <div class="col-lg-12 upload-img">
      <file-drop [hidden]="location || readonly" [disableIf]="location || readonly" (onFileDrop)="droppedFile($event)" customstyle="file-drop">
          <label for="upload-{{ atributo }}" [hidden]="location || readonly">
            <strong> Adicionar {{ label }} </strong> ou arraste para cá!</label>
      </file-drop>
      <img [hidden]="!location" src="{{ location }}" alt="{{ atributo }} de pessoa adicionada pelo usuário">
    </div>
  </div>
  <div class="upload-body" [hidden]="readonly">
    <div class="col-lg-12 upload-info">
      <label for="upload-{{ atributo }}" title="Adicionar arquivo" class="btn btn-primary btn-sm" [hidden]="location || readonly">Adicionar {{ label }}</label>
      <button [hidden]="!location || readonly" title="Remover arquivo" class="btn btn-danger btn-sm" (click)="removeArquivo()">Remover</button>
      <br/> <span> {{ localFileName }} </span>
    </div>
  </div>
</div>
